nav {
	position: relative;
	height: 50px; 
	padding-left: 60px;
	padding-right: 60px;
	background-color: gray;
}

.logo {
	position: absolute;
	left: 10px;
}

.img-circle {
	border-radius: 50%;
	border: 1px solid black;
}

ul {
	display:inline;
}

li {
	display: inline;
}

.container {
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 600px;
	margin-top: 150px;
	border: 10px green dotted;
}